<div class="comment" id="comment-<%= comment._id %>">
    <p>
        <%= comment.content %>
    </p>
    <% if(locals.user && (locals.user.id==comment.user.id)){ %>
        <small><a class="delete-comment-btn" href="/comments/destroy/<%= comment.id %>">X</a></small>
    <% } %>
    <p class="user"><i class="fas fa-user"></i>
        <%= comment.user.name %>
    </p>
    <p class="likes">
        <% if(locals.user){ %>
            <a href="/likes/toggle/?id=<%= comment.id %>&type=Comment"><%= comment.likes.length %> likes</a>
        <% }else{ %>
            <%= comment.likes.length %> likes
        <% } %>
    </p>
</div>