<div class="post white-back" id="post-<%= post.id %>">
    <div class="post-title">
        Post Title
        <% if(locals.user && (locals.user.id==post.user.id)){ %>
            <small><a class="delete-post-btn" href="/posts/destroy/<%= post.id %>">X</a></small>
            <% } %>
    </div>
    <div class="post-content">
        <%= post.content %>
    </div>
    <div class="likes">
        <% if(locals.user){ %>
            <a href="/likes/toggle/?id=<%= post.id %>&type=Post"><%= post.likes.length %> likes</a>
        <% }else{ %>
            <%= post.likes.length %> likes
        <% } %>
    </div>
    <div class="post-detail d-flex">
        <div class="post-author">
            <i class="fas fa-user"></i>
            <%= post.user.name %>
        </div>
        <div class="post-date">
            <i class="fas fa-calendar"></i>
            <%= timeago.format(post.createdAt) %>
        </div>
    </div>
    <div class="comments-container" >
        <% if(locals.user) { %>
            <div class="comment-form">
                <h4>Add Comment</h4>
                <form action="/comments/create" method="post" id="post-<%= post._id %>-comment-form">
                    <input type="text" name="content" placeholder="Add comment" required>
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <button class="btn submit-btn" type="submit">Add</button>
                </form>
            </div>
        <% } %>
            <div class="comments" id="post-<%= post._id %>-comments">
                <% for(let comment of post.comments){ %>
                    <%- include ("_comment", {comment: comment}) %>
                <% } %>
            </div>
    </div>

</div>