<div class="post white-back">
    <div class="post-title">
        Post Title
        <% if(locals.user && (locals.user.id==post.user.id)){ %>
            <small><a href="/posts/destroy/<%= post.id %>">X</a></small>
            <% } %>
    </div>
    <div class="post-content">
        <%= post.content %>
    </div>
    <div class="post-detail d-flex">
        <div class="post-author">
            <i class="fas fa-user"></i>
            <%= post.user.name %>
        </div>
        <div class="post-date">
            <i class="fas fa-calendar"></i>
            <%= timeago.format(post.createdAt) %>
        </div>
    </div>
    <div class="comments-container">
        <%- include ("_comment") %>
    </div>

</div>